html { 
    background: url(https://i.gifer.com/origin/62/628307d4fdd4c63a8dfc615e0d99b728.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
body {
    height: 100%;
}

h1 {
    font-family: 'Spirax', cursive;
    font-size: 1.8em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}
  
   